.home-container{
    width: 100%;
    display: block;
    height: 720px;

    .home-body{
        width: 100%;
        display: flex;
        
        .home-left{
            // width: 20%;
            // background-color: rgb(174, 0, 255);
        }

        .home-right{    
            width: 90%;
            // background-color: aqua;
        }
    }
}